body { background-color: rgb(241, 178, 254);}

h1 {
    text-align: center;
    font-size: 42px;
    color: white
}

li{
    color: white
}

.first{
    color: purple
}

#cool{
    color: grey;
}


.card {

}
.card-header {

}
.card-img {
    height: 50%
}
.card-desc {
    width: 50px;
    text-align: left;

}

.blog {
    width: 400px;
    height: 300px;
    background-color: rgb(126, 119, 192);
    margin: 30px auto; /* margin X auto centers objects */
    border: 6px white; 
    padding: 30px; /* more space between e.g. words and the border/*
}